html {
    overflow: hidden;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

div {
    margin: 0;
    padding: 0;
}


#atoms-scene {
    position: absolute;
    width: 500px;/*100vw;*/
    height: 500px;/*100vh;*/
    top: 0;
    left: 0;
}

.overlay{
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 1;
}